/* sidebar */
.sidebar .search {
  margin-bottom: 10px;
}
.sidebar .app-name {
  margin-bottom: 0;
  font-size: 0;
}
.sidebar .app-name .app-name-link, .sidebar .app-name .app-name-link .img {
  display: block;
}
.sidebar .sidebar-nav {
  line-height: 1.8em;
}
.sidebar .sidebar-nav > ul > li > a.section-link {
  font-size: 15px;
}

/* 自定义 markdown-color-red 红色区域 */
.markdown-color-red ul li {
  color: red;
}
.markdown-color-red ul li a{
  color: red;
}

/* app-nav */
.app-nav > ul > li {
  margin: 0 0.5rem;
}
/* cover */
section.cover {
  background: linear-gradient(to left bottom, hsl(17, 100%, 85%) 0%,hsl(194, 100%, 85%) 100%) !important;
}
section.cover .cover-main {
  position: absolute;
  margin: 0;
  width: 100%;
  z-index: 9;
}
section.cover .cover-main>p:last-child a:last-child:hover {
  color: #fff;
}
/* canvas-effect */
#app2 {
  display: none;
}
body[data-page="README.md"] #app2 {
  display: block;
}
/* 置顶组件 */
.scroll-to-top {
  background: url('../_media/scroll-top.png') 0 0 no-repeat !important;
  background-size: contain !important;
  font-size: 0 !important;
  border: none !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  right: 1rem !important;
  bottom: 2rem !important;
  box-shadow: none !important;
}

/* 重置滚动条样式 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #fff;
}
::-webkit-scrollbar-thumb {
	background-color: #C5C8CA !important;
	border-radius: 10px !important;
}
::-webkit-scrollbar-track {
	background-color: transparent !important;
	border-radius: 10px !important;
	-webkit-box-shadow: none !important;
}